.navbar {
  width: 100%;
  font-family: "Outfit", sans-serif;
  border-bottom: 1px solid black;
}

.logocont {
  width: 200px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.navbtn {
  padding: 0.5rem 1rem;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

.navbtn:hover {
  border-color: black;
  color: #fe8d93;
  cursor: pointer;
}
.loginbtn{
  padding: 0.4rem 1rem;
  border-radius: 30px;
  transition: 0.3s;
  border: 2px solid black;
}
.loginbtn:hover,.righticons:hover{
  color: #fe8d93;
  cursor: pointer;
}


.active{

  border-color: black;
}
.cart-icon{
  position: relative;
}
.cartdot{
  position: absolute; 
  top: 0px; 
  right: -5px; 
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  background-color: #fe8d93; 
}
.cart-icon:hover .cartdot{
  opacity: 0;
}
Link{
  height: 100%;
  width: 100%;
}