.Header{
    background: url('https://drive.google.com/uc?export=view&id=1FZhnniiHnPtzKRvZuNaLhUzi2v7OIDaH');
    
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 34vw;
    margin: 30px auto;
    position: relative;
}
.Header-content{
    position: absolute;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.Header-content h2{
    font-size: max(4.5vw,22px);
}
.Header-content button{
    padding: 1vw 2.3vw;
    border: none;
    font-size: max(1vw,13px);
}

@media (max-width:1050px) {
    .Header{
        height: 38vw;
    }
    .Header-content{
        max-width: 45%;
    }
    
  
  }
@media (max-width:750px) {
    /* .Header{
        height: 38vw;
    } */
    .Header-content{
        max-width: 65%;
    }
    .Header-content p{
        display: none;
    }
    .Header-content button{
        padding: 2vw 4vw;
    }

  
  }